     <div class="row">
    <div class="large-3 columns">
      <h1><img src="/images/logo.png" /></h1>
    </div>
<!--     <div class="large-9 columns">
      <ul class="right button-group">
      <li><a href="#" class="button">Link 1</a></li>
      <li><a href="#" class="button">Link 2</a></li>
      <li><a href="#" class="button">Link 3</a></li>
      <li><a href="#" class="button">Link 4</a></li>
      </ul>
     </div> -->
   </div>
  
<!-- End Header and Nav -->
 
<!-- First Band (Slider) -->
 
  <div class="row">
    <div class="large-12 columns">
        <div data-orbit id="slider" data-options="timer_speed:4000; resume_on_mouseout:true; slide_numer:false;">
          <li data-orbit-slide="headline-1">
            <img src="/images/chatstrum_table.jpg" />
              <div class="orbit-caption">
                <p> 2D chat: scroll people vertically and chat timeline horizontally to hold group chatting </p>
              </div>
          </li>
          <li data-orbit-slide="headline-2">
            <img src="/images/chatstrum_hand.jpg" />
              <div class="orbit-caption">
                <p>Multiple single conversations over the same screen. Forget about going constantly back to the list of users </p>
              </div>
          </li>
        </div>
    </div>
  </div>
  
 <!-- Second Band (Image Left with Text) -->
 
  <div class="row">
    <div class="large-12 columns">
    	<h3>A revolutionary 2D User Interface for chatting</h4>
    	<p>Chatstrum is a two dimensional chat, with people shown vertically and the chat timeline horizontally to have full control of all your conversations in a single view</p>
	    <div class="large-7 columns">
			<div class="flex-video width="500" height="281" vimeo">
			<iframe src="//player.vimeo.com/video/75747076?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
	    </div>
	    <div class="large-5 columns">
	    	<h4> Group conversations </h4>

	    	<p>In tradicitional chat apps with just right and left positioned “bubbles” is difficult to distinguish who is currently chatting as people messages are all merged in one side and they easily moves too far in the timeline, then, the group chatting fastly becomes a two people chat. </p>

			<p>With chatstrum you will always know who are the members of a chat and just double tap in someone's picture and the chat will scroll to his last message, we made it easy!</p>
	    </div>
	  </div>
    </div>
  </div>
 
<!-- Three-up Content Blocks -->

  <div class="row">

    <div class="large-6 columns">
      <img src="/images/two_iphones.png" />
      <h4>Easy Switch between chats</h4>
      <p>Forget about going back to a list and pick a different user to switch conversations. With Chatstrum hold multiple one-to-one chats in a single view</p>
    </div>
    
    <div class="large-6 columns">
      <img src="/images/draw.png" />
      <h4>Draw your ideas!</h4>
      <p>Not everything can be written, with chatstrum you can text, and if words are not enought to express yourself: draw!</p>
    </div>
  
    </div>

<!-- Call to Action Panel -->
  <div class="row">
  	    <p> </p>

    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We would like to know more about you</p>
          </div>
          <div class="large-3 columns">
            <a href="mailto:javier@chatstrum.com?subject=I would like to know more about chatstrum" class="radius button right">Contact us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div> 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© ChatStrum 2014</p>
        </div>
<!--         <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>
  